:root {
  --color-panel: #39383A;
  --color-panel-selected: #4f4b4f;
  --color-border: #4f4b4f;
  --color-muted: #ADA8AD;

  --color-text-muted: var(--color-muted);

  --border: 1px solid var(--color-border);
}
