:root {
  --color-panel: #39383A;
  --color-border: #464246;

  // 46 in hex is 70 in decimal
  // 42 in hex is 66 in decimal
  // 46 in hex is 70 in decimal

  --border: 1px solid var(--color-border);
}
